.topBigImage{
    background: url(../public/photos/adds.png);

}

.firstSectionBigImage{
    background: url(../public/photos/firstSectionBigImage.png);
}

.firstSectionSmallImage{
    background: url(../public/photos/firstSectionSmallImage.png);
}

.firstSectionSmallthreeImage{
    background: url(../public/photos/firstSectionSmallthreeImage.png);
}

.midPageAdd{
    background: url(../public/photos/midPageAdd.png);
}